doctype html
html
    head
        title Viridian Raiders
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700", rel="stylesheet")
        link(href="main.css", rel="stylesheet")
    body
        div.viridian-container
            table.table
                thead
                    tr
                        th Player
                        th Character
                        th Realm
                        th Class
                        th Role
                        th iLvl
                        th Gear
                tbody
                    each character in characters
                        tr
                            td= character.player
                            td= character.name
                            td= character.realm
                            td= character.class
                            td= character.role
                            td= character.ilvl
                            td= character.gear
            h4 Average iLvl — #{avg}